.about__wrapper {
  animation: changeBgBlue 10s linear infinite;
  height: 100vh;
}

.about h1 {
}

.about__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}

@keyframes changeBgBlue {
  0% {
    background-color: #92c1e0;
  }
  35% {
    background-color: #93f0ab;
  }
  70% {
    background-color: #d87692;
  }
  100% {
    background-color: #92c1e0;
  }
}
