.about__wrapper {
  background: rgb(208, 164, 149);
  background: linear-gradient(
    51deg,
    rgba(208, 164, 149, 1) 7%,
    rgba(34, 111, 129, 1) 100%
  );
  height: 100vh;
}

.about__container {
  width: 100%;
  display: flex;
  justify-content: right;
  right: 0;
  height: 100%;
}

.about__content {
  position: relative;
  z-index: 3;
  width: 35vw;
  height: auto;
  margin: 10vh 2.5rem 0 0;
  animation: aboutContentFadeIn 3s;
  animation-fill-mode: forwards;
}

@keyframes aboutContentFadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}

.about__content ul {
  list-style: circle;
  column-count: 3;
  padding-left: 1.4rem;
  margin-bottom: 5rem;
}

.about__content ul li {
  font-weight: 400;
  padding-top: 5px;
}

.about__content h1 {
  font-weight: 400;
  margin-top: 0;
  font-size: 5.5rem;
}

.about__content h2 {
  font-weight: 400;
  margin-top: 6rem;
  font-size: 2.2rem;
}

.about__content h3 {
  font-weight: 400;
  font-size: 1rem;
  display: inline;
  line-height: 1.2rem;
  word-spacing: 1px;
}

.about-pictures__wrapper {
  animation: gridSlideIn 1.7s forwards;
  height: auto;
  margin: 10vh 2.5rem 5rem 0;
  width: 200px;
}

@keyframes gridSlideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-70%);
  }
}

.about-pictures__grid {
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
  display: grid;
  gap: 0.6rem;
  position: absolute;
  right: 150%;
  height: 100%;
  overflow: auto;
}

.about-pictures__grid::-webkit-scrollbar {
  width: 5px;
}

.about-pictures__grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.411);
  border-radius: 10px;
}

.about-pictures__grid::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.about-pictures__grid::-webkit-scrollbar-thumb:hover {
  background: #ffffffbe;
}

.about-pictures__grid .spriteBandW {
  display: none;
}

.about-pictures__grid__BandW {
  display: grid;
  gap: 0.6rem;
  position: absolute;
  right: 150%;
  height: 100%;
  overflow: auto;
}

.about-pictures__grid__BandW::-webkit-scrollbar {
  width: 5px;
}

.about-pictures__grid__BandW::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.411);
  border-radius: 10px;
}

.about-pictures__grid__BandW::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

.about-pictures__grid__BandW::-webkit-scrollbar-thumb:hover {
  background: #ffffffbe;
}

.about-pictures__grid__BandW .spriteClear {
  display: none;
}

.about-pictures__grid .spriteClear {
  cursor: default;
}

@media screen and (max-width: 1120px) {
  @keyframes gridSlideIn {
    0% {
      transform: translateX(-170%);
    }
    100% {
      transform: translateX(25%);
    }
  }
}

@media screen and (max-width: 768px) {
  @keyframes gridSlideIn {
    0% {
      transform: translateX(-170%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  .about-pictures__wrapper {
    display: none;
  }

  .about__content {
    margin: 19.5vh 2.5rem 0 2.5rem;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .about__content ul {
    column-count: 2;
  }

  .about__content li {
    font-size: 0.9rem;
  }

  .about__content h1 {
    font-size: 3rem;
  }
  .about__content h2 {
    font-size: 1.3rem;
  }
  .about__content h3 {
    font-size: 0.75rem;
  }
  .about__content h4 {
    font-size: 0.6rem;
  }
  .hire-me__intro {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 305px) {
  .about__content ul {
    column-count: 1;
  }
  .about__content h1 {
    font-size: 2.5rem;
  }
  .about__content h2 {
    font-size: 1rem;
  }
  .about__content h3 {
    font-size: 0.5rem;
  }
  .about__content h4 {
    font-size: 0.5rem;
  }
  .hire-me__intro {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 250px) {
  .about__content li {
    font-size: 0.6rem;
  }
}
