.dark__wrapper {
  background-color: black;
  height: 100vh;
}

.dark__wrapper h1 {
  color: rgba(255, 255, 255, 0.822);
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.671);
  font-size: 3.4rem;
  margin: 0 auto;
}

.light__wrapper .light-switch {
  display: none;
}

.light__wrapper {
  background-color: #92c1e0;
  height: 100vh;
}

.dark__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  padding-top: 25vh;
}

.light__wrapper h1 {
  display: none;
}

.light-switch {
  height: 10rem;
  width: 10rem;
}

.light-switch__wrapper {
  width: 10rem;
}

.cursor-hovered {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 70%;
  mix-blend-mode: soft-light;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(20);
  background-color: rgba(255, 255, 255, 0.349);
}
