.home__wrapper {
  height: calc(100vh - 3rem);
  cursor: none;
  margin: 0 auto;
  text-align: center;
}

.hover-this {
  transition: all 0.3s ease;
  width: 100%;
}

.hover-this:hover {
  cursor: none;
}

.home__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  word-spacing: 6px;
  letter-spacing: 4px;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  pointer-events: none;
  transition: transform 0.2s linear;
  width: 100%;
  height: calc(100vh - 3rem);
  padding-bottom: 3rem;
}

.home__wrapper .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: soft-light;
  transition: transform 0.3s ease;
}
