.nav__container {
  display: grid;
  grid-template-columns: 28vw 22.6vw 23vw 20.5vw;
  height: 2px;
  position: fixed;
  margin: 0 8vw 0 2.4vw;
}

.nav__line {
  background-color: rgba(255, 255, 255, 0.4);
  height: 2px;
  width: auto;
  margin-top: 6rem;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 12vw;
  animation: flash 4s linear infinite;
  pointer-events: none;
}

.nav__selected {
  background-color: white;
}

.nav__link {
  display: inline-block;
  height: auto;
  width: auto;
  position: relative;
  bottom: 20px;
  left: 2rem;
  pointer-events: all;
}

.nav__line h2 {
  color: white;
  position: relative;
  padding-bottom: 38px;
  bottom: 70px;
}

.heading1 {
  right: 17px;
}
.heading2 {
  right: 18px;
}
.heading3 {
  right: 26px;
}
.heading4 {
  right: 26px;
}

.nav__link img {
  height: 40px;
  width: 40px;
  position: relative;
}

.nav__line:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
  background-color: rgba(255, 255, 255, 0.396);
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 1700px) {
  .nav__container {
    grid-template-columns: 29vw 22.6vw 23vw 22vw;
    margin: 0 0 0 1.3vw;
  }
}

@media screen and (max-width: 1500px) {
  .nav__container {
    grid-template-columns: 30vw 22.6vw 23vw 22vw;
  }
}

@media screen and (max-width: 1000px) {
  .nav__container {
    grid-template-columns: 35vw 22.6vw 25vw 21vw;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .nav__container {
    grid-template-columns: 39vw 22.6vw 23vw 21vw;
  }
}

@media screen and (max-width: 540px) {
  .nav__container {
    grid-template-columns: 39vw 22.6vw 25vw 22vw;
  }
}

@media screen and (max-width: 450px) {
  .nav__container {
    grid-template-columns: 39vw 24vw 29vw 23vw;
  }
}
