.projects__wrapper {
  background: rgb(156, 231, 177);
  background: linear-gradient(
    0deg,
    rgba(156, 231, 177, 1) 7%,
    rgba(147, 128, 196, 1) 93%
  );
  min-height: 100vh;
  min-width: 100vw;
}

.projects__grid {
  display: grid;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 1rem;
  gap: 5rem;
  justify-content: center;
}

.projects__container {
  color: rgb(0, 0, 0);
  background-color: #dfe8e9;
  border-radius: 0.7rem;
  width: 840px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  cursor: default;
}

.projects__content {
  cursor: default;
}

.screenshot {
  display: block;
  width: 800px;
  margin: 0 15px 0.4rem 15px;
  border-radius: 0.7rem;
  cursor: pointer;
}

.projects__container h2 {
  margin: 1.5rem 1.5rem 1.2rem 1rem;
  font-weight: 900;
  cursor: default;
  font-size: 2.5rem;
  text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.315);
}

.projects__button-container {
  cursor: default;
}

.projects__button-container button {
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  border: none;
  padding: 0.7rem 1.8rem;
  position: relative;
  right: -14%;
  top: 0.8rem;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 10px,
    rgba(0, 0, 0, 0.116) 0px 4px 10px;
}

.projects__button-container button:hover {
  box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 10px,
    rgba(0, 0, 0, 0.034) 0px 0px 10px;
  transform: translate(0, 2px);
}

.projects__content-learned p {
  display: none;
}

.projects__content-learned__clicked p {
  text-align: left;
  display: block;
  margin-left: 4rem;
  margin-bottom: 2rem;
  line-height: 40px;
  font-size: 1.3rem;
}

.projects__content-learned__clicked p:hover {
  cursor: default;
}

.projects-git-hub__logo {
  width: 85px;
  position: relative;
  left: 30.5%;
  bottom: 1.85rem;
}

.projects-git-hub__logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 845px) {
  .projects__container {
    width: 97vw;
  }

  .screenshot {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .projects__container h2 {
    font-size: 2rem;
  }

  .projects__button-container button {
    font-size: 0.8rem;
    padding: 10px 18px;
  }

  .projects-git-hub__logo {
    width: 65px;
    bottom: 19px;
    left: 24%;
  }

  .projects__grid {
    gap: 1rem;
  }
}

@media screen and (max-width: 250px) {
  .projects__button-container button {
    font-size: 0.65rem;
    padding: 5px 12px;
    top: 9px;
    right: -5%;
  }
  .projects-git-hub__logo {
    width: 45px;
    bottom: 14px;
    left: 30%;
  }
}
