.projects__wrapper {
  background-color: #d87692;
  min-height: 100vh;
}

.projects__grid {
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 1rem;
  width: 900px;
  gap: 1.2rem;
  justify-content: center;
}

.projects__wrapper1 {
}

.projects__container {
  background-color: #e8ffee;
  border-radius: 0.7rem;
  width: 380px;
  display: inline-block;
  margin: 1rem;
}

.projects__content video {
  width: 350px;
  margin: 70px 15px 15px 15px;
  background-color: white;
  border-radius: 0.7rem;
}

.projects__content-learned p {
  display: none;
}
.projects__content-learned__cicked p {
  display: block;
}
