.spriteBandW {
  background: url("../Photos/spriteBandW.png") no-repeat top left;
  width: 200px;
  height: 200px;
  opacity: 0.9;
}
.spriteBandW.IMG_6658 {
  background-position: -1050px -80px;
}
.spriteBandW.IMG_6655 {
  background-position: -840px -75px;
}
.spriteBandW.IMG_6653 {
  background-position: -630px -120px;
}
.spriteBandW.IMG_6651 {
  background-position: -420px -84px;
}
.spriteBandW.IMG_6649 {
  background-position: 0 -86px;
}
.spriteBandW.IMG_6659 {
  background-position: -1260px -110px;
}
.spriteBandW.IMG_6650 {
  background-position: -210px -80px;
}
